@charset "UTF-8";

.boxes {
  background-color: #3274ae;
  width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  padding: 20px;
}

.box {
  background-color: #e3f6ff;
  width: 200px;
  height: 200px;
  /* ↓ margin */
  margin-left: 30px;
  /* boxという兄弟要素の間をあけたいため、paddingではなくmarginを使用する */
}

.box:first-child {
  margin-left: 0;
}